.documentation :global(.markdown-body) {
  color: #111;
  font-size: 14px;
  line-height: 24px;
}

.documentation :global(.markdown-body) :is(h1, h2, h3, h4) {
  color: #111;
  font-family: Georgia, serif;
  font-weight: 400;
}

.documentation :global(.markdown-body) h1 {
  margin-top: 24px;
  font-size: 36px;
  line-height: 38px;
}

.documentation :global(.markdown-body) h2 {
  margin-top: 32px;
  margin-bottom: 16px;
  font-size: 22px;
  line-height: 30px;
}

.documentation :global(.markdown-body) h3 {
  font-size: 18px;
  line-height: 26px;
}

.documentation :global(.markdown-body) :is(p, li) {
  color: #111;
  line-height: 24px;
}

.documentation :global(.markdown-body) pre {
  border-radius: 0;
  background: #111;
  color: #e7e5de;
  padding: 12px;
  font-family: var(--font-mono), monospace;
  font-size: 12px;
  line-height: 20px;
}

.documentation :global(.markdown-body) blockquote {
  border-color: #f06e14;
  background: #f7f7f5;
  color: #111;
  padding-left: 16px;
}

.documentation :global(.markdown-body) :is(th, td) {
  border-right: 1px solid #e7e5de;
}

.documentation :global(.markdown-body) th {
  background: #e7e5de;
  font-weight: 600;
}

.documentation :global(.markdown-body) td {
  background: white;
  color: #111;
}

.documentation :global(.markdown-body) :is(th, td):last-child {
  border-right: 0;
}
